<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrapper">
    <h1 class="header">Employee management system</h1>
    <h1 class="text">Список отделов:</h1>
    <div class="list">
        <div class="list-item" th:each="organisation : ${organisations}">
            <a class="link" th:href="@{/organisations/{id}(id = ${organisation.getId()})}" th:text="${organisation.getName}">organisation</a>
        </div>
    </div>
    <button class="button" onclick="window.location.href = '/organisations/new'">Добавить Организацию</button>
    <button class="button" onclick="window.location.href = '/'">Назад</button>
</div>
</body>
</html>