<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="wrapper">
        <h1 class="header">Employee management system</h1>
        <form th:method="PATCH" th:action="@{/departments/{id}/edit(id=${department.getId()})}" th:object="${department}">
            <div>
                <label class="text input-label" for="name">Название отдела</label>
                <input class="input" type="text" id="name" th:field="*{name}">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div>
                <label class="text input-label" for="organisation">Организация</label>
                <select class="select" th:object="${department}" th:field="*{organisation}" id="organisation">
                    <option th:each="organisation : ${organisations}"
                            th:value="${organisation.getId}"
                            th:text="${organisation.getName}" ></option>
                </select>
                <div th:if="${#fields.hasErrors('organisation')}" th:errors="*{organisation}"></div>
            </div>
            <div>
                <label class="text input-label" for="rooms">Список комнат</label>
                <input class="input" type="text" id="rooms" th:field="*{rooms}">
                <div th:if="${#fields.hasErrors('rooms')}" th:errors="*{rooms}"></div>
            </div>
            <input class="button" type="submit" value="Изменить запись об отделе">
        </form>
        <button class="button" onclick="window.location.href='/departments'">Назад</button>
    </div>
</body>
</html>