<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrapper">
    <h1 class="header">Employee management system</h1>
    <div class="cards">
        <div class="card">
            <a class="link" href="/employees">Список сотрудников</a>
        </div>
        <div class="card">
            <a class="link" href="/departments">Список отделов</a>
        </div>
        <div class="card">
            <a class="link" href="/organisations">Список организаций</a>
        </div>
    </div>
</div>
</body>
</html>